$buttonColor: #85c3ff;
$buttonColorHover: #cae5ff;
$activeColor: $buttonColorHover;

.header__link {
  cursor: pointer;
  text-decoration: none;
  font-weight: bold;
  margin-right: 20px;
  display: flex;
  align-items: center;
  color: $buttonColor;

  &:hover {
    color: $buttonColorHover;
  }
}

.header__link_active {
  color: $activeColor;
}

.header__link img {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}
